.modal-view {
    position: relative;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 48px;
        width: 100%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1rem;

        &__avatar {
            display: inline-block;
            height: 32px;
            width: 32px;
            margin: 0 10px 0 0;
            border-radius: 50%;
        }

        &__login {
            color: black;
        }

        &__user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.1rem;
            height: 100%;
            margin: 0 10px;
        }

        &__desc {
            display: flex;
            align-items: center;
            flex-direction: row;
            margin-right: 10px;
            color: gray;
            &__icon {
                height: 24px;
                width: 24px;
                margin-right: 5px;
                background: url('../../../../assets/icons/eye.svg') center center no-repeat;
            }
        }
    }

    &__content {
        &__img {
            height: 100%;
            width: 100%;
        }
        &__img:hover {
            cursor: zoom-in;
        }

        &--scope {
            height: 100%;
            width: 50%;
            margin: 0 auto 20px;
        }
    }

    &__stat {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 5px 15px;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        
        &__location {
            display: flex;
            align-items: center;
            flex-direction: row;
            &__icon {
                height: 24px;
                width: 24px;
                margin-right: 5px;
                background: url('../../../../assets/icons/placeholder.svg') center center no-repeat;
            }
        }
        
        &__likes {
            display: flex;
            align-items: center;
            flex-direction: row;
            
            &__icon {
                height: 24px;
                width: 24px;
                margin-right: 8px;
                padding: 0;
                background: url('../../../../assets/icons/like.svg') center center no-repeat;
                transition: .2s;
            }
            
            &__icon:hover {
                padding: 5px;
            }
        }
    }
    
    &__footer {
        &__photograph {
            display: flex;
            align-items: center;
            flex-direction: row;
            
            &__icon {
                height: 24px;
                width: 24px;
                margin: 0 10px 0 15px;
                background: url('../../../../assets/icons/photo-camera.svg') center center no-repeat;
            }
        }
    }
    
    &__related {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 5px 0px;
        margin: 40px 0;
        
        &__label {
            padding: 0 15px;
            font-size: 1.3rem;
        }
    }
}