.search {
    &__label {
        padding: 0 15px;
        line-height: 1.6;
        font-size: 2rem;
        font-family: 'Arial', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: black;
    }
}